/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;500;300;400&display=swap');
/* common styles or utilities*/

body {
	font-family: 'Poppins', sans-serif;
	margin: 0px;
	background: #FFFFFF;
}

.header-container {
	height: 677px;
	background: #2D25A0;
	/* display: flex;
	justify-content: center;
	align-items: center */
}

.top-section {
	display: flex;
	align-items: center;
	padding-top: 153px;
	justify-content: space-around;
}

.top-heading-name {
	font-size: 64px;
	font-weight: 700;
	color: #FFFFFF;
	margin-bottom: 27px;
}

.transited-banner {
	width: 556.01px;
	height: 438px;
	transition: width 2s, height 2s, transform 2s;
}

.header-container:hover .transited-banner {
	width: 300px;
	height: 300px;
	transform: rotate(360deg);
}

.watch-link a {
	display: inline-block;
	font-weight: 500;
	padding: 10px 24px;
	color: #FFFFFF;
	background: #E02C6D;
	text-decoration: none;
}

.fa-arrow-right {
	font-weight: 500;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* ----------------------------
            About Players 
--------------------------------*/

.blog-container {
	padding-top: 70px;
	padding-bottom: 63px;
}

.blogs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 30px;
	grid-column-gap: 45px;
}

.blog {
	padding: 15px;
	width: 300px;
	height: 474px;
	background: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.players-picture img {
	width: 300px;
	height: 256px;
}

.player-name {
	font-size: 28px;
	font-weight: 700;
}

.details-info {
	color: #6C6C6C;
	font-weight: 300px
}

/* -----------------------------
                Footer
-------------------------------- */

.footer-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 158px;
	margin-bottom: 63px;
}

.footer-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-icon {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 21.47px;
	font-size: 32px;
	/* background: #969BAB; */
}

.fab {
	color: #969BAB;
}

.footer-logo {
	padding-bottom: 20px;
}

.footer-copyright h4 {
	color: #000000;
	font-size: 18px;
	font-weight: 400;
}

/* Mobile Device */

@media only screen and (max-width:688px) {
	/* Top Banner */
	.top-section {
		flex-direction: column;
		align-items: flex-start;
		padding-left: 24px;
	}
	.top-heading-name {
		font-size: 36px;
		line-height: 50px;
	}
	.section-title {
		position: relative;
		top: -50px;
	}
	.header-container:hover .transited-banner {
		width: 100%;
		height: 95%;
	}
	.transited-banner {
		width: 100%;
		height: 95%;
	}
	.blogs {
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 55px;
	}
	/* ----Footer----- */
	.footer-box {
		width: 100%;
	}
	.footer-logo img {
		width: 70%;
		position: relative;
		left: 45px;
	}
	.blog-container {
		padding-bottom: 43px;
	}
	.footer-item {
		position: relative;
		bottom: 162px;
	}
}

/* --------------------------------
               for Tab
----------------------------- */

@media only screen and (min-width:689px) and (max-width:992px) {
	.blogs {
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 55px;
	}
	.top-section {
		/* flex-direction: column; */
		align-items: flex-start;
		padding-left: 24px;
	}
	.top-heading-name {
		font-size: 36px;
		line-height: 50px;
	}
	.header-container:hover .transited-banner {
		width: 100%;
		height: 95%;
	}
	.transited-banner {
		width: 80%;
		height: 80%;
	}
	/* ------------- For footer--------------- */
	.footer-box {
		width: 100%;
	}
	.footer-logo img {
		width: 70%;
		position: relative;
		left: 45px;
	}
	.blog-container {
		padding-bottom: 43px;
	}
	.footer-item {
		position: relative;
		bottom: 162px;
	}
}